In [1]:
# extract information with age greater than 25 from the following list of dictionaries
data = [{"name": "Alice", "age": 28}, {"name": "Bob", "age": 24}, {"name": "Charlie", "age": 30}]

In [2]:
# use list comprehension to flatten the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list = [n for row in matrix for n in row]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# use enumerate() for looping to add 5 extra point to each grade in the list, the 5th one add 10 
grades = [88, 92, 78, 65, 50, 94]

for i, grade in enumerate(grades):
    if i == 4:
        grades[i] = grade + 10
    else:
        grades[i] = grade + 5

[93, 97, 83, 70, 60, 99]

In [10]:
# filter out elements depend on their index: 
# use list comprehension and enumerate() to get elements with even index
data = [100, 200, 300, 400, 500]

filtered_list = [n for i, n in enumerate(data) if 1 < i < 4]
filtered_list

[300, 400]

In [14]:
# create a dictionary from lists using zip()
keys = ['name', 'age', 'grade']
values = ['Alice', 25, 'A']

dictionary = {key: value for key, value in zip(keys, values)}
dictionary

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [15]:
# sort the dictionary based on the ages using lambda
students = [
    {'name': "John", 'grade': "A", 'age': 20}, 
    {'name': "Jane", 'grade': "B", 'age': 21}, 
    {'name': "Joss", 'grade': "A+", 'age': 19}, 
    {'name': "Jack", 'grade': "A-", 'age': 16}, 
    {'name': "Dave", 'grade': "C", 'age': 25}, 
]

sorted(students, key=lambda student: student['age'])

[{'name': 'Jack', 'grade': 'A-', 'age': 16},
 {'name': 'Joss', 'grade': 'A+', 'age': 19},
 {'name': 'John', 'grade': 'A', 'age': 20},
 {'name': 'Jane', 'grade': 'B', 'age': 21},
 {'name': 'Dave', 'grade': 'C', 'age': 25}]

[{'name': 'Jack', 'grade': 'A-', 'age': 16},
 {'name': 'Joss', 'grade': 'A+', 'age': 19},
 {'name': 'John', 'grade': 'A', 'age': 20},
 {'name': 'Jane', 'grade': 'B', 'age': 21},
 {'name': 'Dave', 'grade': 'C', 'age': 25}]

In [17]:
# Sort by age, then by salary if ages are the same
# use lambda
employees = [
    {'name': 'Alice', 'age': 30, 'salary': 80000},
    {'name': 'Bob', 'age': 25, 'salary': 50000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
]
sorted(employees, key=lambda employee: (employee['salary'], employee['age']))

[{'name': 'Bob', 'age': 25, 'salary': 50000},
 {'name': 'Alice', 'age': 30, 'salary': 80000},
 {'name': 'Charlie', 'age': 35, 'salary': 120000}]

[{'name': 'Bob', 'age': 25, 'salary': 50000}, {'name': 'Alice', 'age': 30, 'salary': 80000}, {'name': 'Charlie', 'age': 35, 'salary': 120000}]

In [45]:
# Generators are highly useful in data-heavy applications:

# Reading Large Files: Use generators to read large files line by line without loading the entire file into memory.
# Data Streaming: Stream data entries for real-time data processing.
# Large Calculations: Break down massive calculations into smaller, more manageable chunks.